WEB_DOMAIN=***
API_DOMAIN=***
RELEASE_TYPE=***

DEVICE_TYPE=***
USER_AGENT_APP_TYPE=***
USER_AGENT_PREFIX=***

DEEP_LINK_PREFIX=***
CONTACT_US_EMAIL=***
SUPPORT_EMAIL=***
PURCHASE_ITEM_SKU_ANDROID=***
PURCHASE_ITEM_SKU_IOS=***

NAV_STACK_TABS=Podcasts,Episodes,Clips,Queue,More
NAV_STACK_MORE_FEATURES=Downloads,Playlists,Profiles,MyProfile,MyClips,Login,Logout,Settings
NAV_STACK_MORE_OTHER=Membership,AddPodcastByRSS,Contact,FAQ,About,TermsOfService
FILTER_TYPE_ITEMS=subscribed,downloaded,all-podcasts,category,added-by-rss,my-clips,all-episodes,podcasts,episodes,clips,playlists,about-podcast,show-notes,title,my-playlists
FILTER_SORT_ITEMS=chronological,alphabetical,most-recent,oldest,top-past-day,top-past-week,top-past-month,top-past-year,random
FILTER_FROM_ITEMS=from-this-podcast,from-this-episode
DISABLE_ADD_TO_PLAYLIST=
DISABLE_API_SUBSCRIBED_PODCASTS=
DISABLE_FILTER_TEXT_QUERY=
DISABLE_MAKE_CLIP=
DISABLE_QR_SCANNER=TRUE
DISABLE_SEARCH=
DISABLE_SHARE=
EXTERNAL_URL_REQUEST_PODCAST=https://example.podverse.fm/request-podcast
URL_ABOUT_WEBVIEW=https://example.podverse.fm/about
URL_CONTACT_US_WEBVIEW=https://example.podverse.fm/contact
URL_FAQ_WEBVIEW=https://example.podverse.fm/faq
URL_TERMS_OF_SERVICE_WEBVIEW=https://example.podverse.fm/terms-of-service

BROWSERSTACK_APP=***
BROWSERSTACK_DEVICE_TYPE=***
BROWSERSTACK_USER=***
BROWSERSTACK_KEY=***

SLACK_WEBHOOK=***
