
{
    "env": {
        "es6": true,
        "node": true,
        "react-native/react-native": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "arrow-parens": ["error", "always"],
        "brace-style": [
            "warn",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "comma-dangle": "warn",
        "comma-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            "warn",
            "last"
        ],
        "curly": [
            "error",
            "multi-line"
        ],
        "eol-last": "off",
        "generator-star-spacing": [
            "warn",
            "after"
        ],
        "no-eq-null": "error",
        "jsx-quotes": "error",
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "never"
        ],
        "indent": [
            "warn",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": "off",
        "no-tabs": "error",
        "no-lonely-if": "warn",
        "no-spaced-func": "warn",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-var": "warn",
        "vars-on-top": "warn",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-wrap-multilines": "warn",
        "react/sort-comp": "warn",
        "react/no-deprecated": "warn",
        "react/no-unescaped-entities": "warn",
        "react/no-unknown-property": "warn",
        "react-native/no-unused-styles": "error",
        "react-native/no-inline-styles": "warn",
        "react/no-did-mount-set-state": "warn",
        "react/no-did-update-set-state": "warn"
    },
    "extends": [
        "plugin:flowtype/recommended",
        "eslint:recommended"
    ],
    "plugins": [
        "react",
        "react-native",
        "flowtype"
    ],
    "parser": "babel-eslint"
}