<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860242501247-ei0j4lcooh0g4r1t8pqr865k2a3taq9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860242501247-ei0j4lcooh0g4r1t8pqr865k2a3taq9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDCBsm-KfguRFS33jdMfgYIKvAaH0kt9ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>860242501247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.podverse.fm</string>
	<key>PROJECT_ID</key>
	<string>podverse-app</string>
	<key>STORAGE_BUCKET</key>
	<string>podverse-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860242501247:ios:6275094217a0962389a94a</string>
</dict>
</plist>